{
    "presets": [
   
    ],
    "plugins": [

      [
        "babel-plugin-module-resolver",
        {
          "root": [
            "./src"
          ],
          "alias": {
           
            "@shared": "./shared"
          }
        }
      ]
    ]
  }